<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucr.scottytalk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ucr.scottytalk.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.ucr.scottytalk.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ucr.scottytalk.SMSActivity"
            android:label="@string/title_activity_sms" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ucr.ScottyTalk.MainActivity" />
        </activity>
        <activity
            android:name="com.ucr.scottytalk.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.VideoChat"
            android:label="@string/title_activity_video_chat" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.FileChooser"
            android:label="File Chooser" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ucr.scottytalk.MMS_Activity"
            android:label="@string/title_activity_mms_" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.Profile_Activity"
            android:label="@string/title_activity_profile_" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.Friends_Activity"
            android:label="@string/title_activity_friends_" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.Add2Group"
            android:label="@string/title_activity_add2_group" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.SMSSPecialActivity"
            android:label="@string/title_activity_smsspecial" >
        </activity>
        <activity
            android:name="com.ucr.scottytalk.VGroupActivity"
            android:label="@string/title_activity_vgroup" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

</manifest>